# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
env/
venv/
ENV/

# Ignore Node.js modules
node_modules/
**/node_modules/

# Ignore environment and secret files
.env
*.env
.env.*

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore VSCode settings
.vscode/ 

# Ignore Next.js build output
.next/
out/
dist/

# Ignore build files
build/
*.build
